langgraph
langchain-huggingface
ddgs
yfinance
icalevents
python-telegram-bot
beautifulsoup4
lxml
huggingface-hub
apscheduler
pymongo>=3.12
certifi
python-dotenv
motor
requests
numpy
httpx
huggingface_hub